.navigation {
  z-index: 5;
  vertical-align: top;
  text-align: left;
  float: left;
}

.navlogo {
  width: 50px;
  height: auto;
  margin-right: 0.5rem;
}
.nav-link {
  font-weight: 100;
  font-weight: bold;
}
.divider {
  width: 50px;
  height: auto;
  display: inline-block;
  position: auto;
}
